<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>プロフィール画像</string>
	<key>NSCameraUsageDescription</key>
	<string>GPSを使ってオブジェクトを設置するために使用します</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>GPSを使ってオブジェクトを設置するために使用します</string>
	<key>UIAppFonts</key>
	<array>
		<string>bokutachi</string>
		<string>07YsashisaGothicTegaki</string>
		<string>utakata-Regular</string>
		<string>07やさしさゴシック手書き</string>
	</array>
</dict>
</plist>
