<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>bokutachi</string>
		<string>07YsashisaGothicTegaki</string>
		<string>utakata-Regular</string>
		<string>07やさしさゴシック手書き</string>
	</array>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeMessage</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>ChatRoomController</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>投稿デバッグ用</string>
			<key>UIApplicationShortcutItemType</key>
			<string>debug</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeProhibit</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>Jimのアカウントでログインします。</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>バックドア</string>
			<key>UIApplicationShortcutItemType</key>
			<string>SearchAction</string>
		</dict>
	</array>
</dict>
</plist>
